.navbar {
  display: flex; 
  justify-content: space-between;

  nav a {
    padding: 5px;
    text-decoration: none;
  }
  
  nav .active {
    background-color: #000;
  }

  .cartbutton {
    margin-right: 16px;
  }
}
