<mat-card class="card-container">
  <div class="crop-image">
    <img [src]='product.image' alt="" [routerLink]="['/products', product.id]">
  </div>
  <mat-card-title>{{product.title | uppercase}}</mat-card-title>
  <mat-card-content class="content">
    <p>{{product.description | slice: 0:30}}</p>    
  </mat-card-content>
  <mat-card-actions class="cardbuttons">
    <span><strong>{{product.price | currency}}</strong></span>
    <button (click)='addToCart()' mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>