<div *ngIf="product">
  <div class="detail-container">
    <div class="image">
      <img [src]="product.image" alt="">
    </div>
    <div class="description">
      <ul>
        <li>Nombre: {{ product.title }}</li>
        <li>Precio: {{ product.price | currency}}</li>
      </ul>
      <p>{{ product.description }}</p>
    </div>
    <button (click)='createProduct()'>Crear producto</button>
    <button (click)='updateProduct()'>Modificar producto</button>
    <button (click)='deleteProduct()'>Eliminar producto</button>
  </div>
</div>